:root {
  --game-height: 400px;
  --sidebar-width: 236px;
  --sketch-width: 500px;
}

* {
  margin: 0;
  padding: 0;
}

#game {
  height: var(--game-height);
}

h2 {
  font-size: 1.5em;
}

#right-sidebar {
  position: absolute;
  top: 0;
  left: 0;
}

#left-sidebar {
  position: absolute;
  top: 0;
  margin-left: calc(var(--sidebar-width) + var(--sketch-width));
}

.sidebar {
  width: var(--sidebar-width);
  height: var(--game-height);
  background-color: #e0e0e0;
}

#player-list {
  height: calc(50% - 1.5em - 22px);
  overflow: scroll;
  margin: 0px;
}

#word-proposition-container {
  visibility: hidden;
}

.is-current-user {
  font-weight: 800;
}

.almost-guessed-word {
  color: orange;
}

.has-guessed-word {
  color: green;
}

.player {
  font-size: 0.9em;
}

.player-name {
  float: left;
}

.player-score {
  float: right;
  text-align: end;
}

.player-drawing-indicator {
    margin: 0 4px;
    visibility: hidden;
}

li {
  list-style-type: none;
}

#sketch-holder {
  margin-left: var(--sidebar-width);
  touch-action: none;
}

#word-to-guess {
  position: absolute;
  font-size: 1.2em;
  margin-left: var(--sidebar-width);
  top: 25px;
  width: var(--sketch-width);
  text-align: center;
}

#server-message {
  position: absolute;
  font-size: 1em;
  color: blue;
  margin-left: var(--sidebar-width);
  top: 50px;
  width: var(--sketch-width);
  text-align: center;
}

.draw-word {
  color: green;
}

.guess-word {
  color: red;
}

#chatbox {
  position: absolute;
  background-color: #e8e8e8;
  border: 1px solid black;
  width: 100%;
  height: 50%;
  bottom: 0px;
}

#chat-window {
  height: calc(200px - 2px - 28px);
  display: flex;
  flex-direction: column;
}

#chat-messages {
  flex: 1;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}

#chat-input-form {
  position: absolute;
  width: 100%;
  margin: 2px;
  bottom: 0px;
}

#chat-input {
  width: calc(100% - 54px);
}

#send-button {
  height: 28px;
  width: 50px;
}

.chatter-name {
  font-weight: bold;
}

.message-in-chat {
  font-size: 0.8em;
}

.progress {
  position: absolute;
  width: calc(var(--sketch-width) - 2px);
  margin-left: var(--sidebar-width);
  border-radius: 0px !important;
}

#word-proposition-form {
  position: absolute;
  width: 100%;
  margin: 2px;
  bottom: 0px;
}

#proposition-input {
  width: calc(100% - 34px - 4px);
}

#add-proposition-button {
  height: 28px;
  width: 34px;
}
