* {
  margin: 0;
  padding: 0;
}

#game {
  height: 400px;
}

.sidebar {
  width: 236px;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #E0E0E0;
}

#player-list {
  overflow:hidden;
}

.is-current-user {
  color: blue;
}

.player-name {
  float: left;
  width: 200px;
}

.player-score {
  float: right;
  text-align: end;
  width: 36px;
}

li {
  list-style-type: none;
}

#sketch-holder {
  margin-left: 236px;
}

#word-to-guess {
  position: absolute;
  font-size: 1.2em;
  margin-left: 236px;
  top: 25px;
  width: 500px;
  text-align: center;
}

.draw-word {
  color: green;
}

.guess-word {
  color: red;
}

.progress {
  position: absolute;
  width: 498px;
  margin-left: 236px;
  border-radius: 0px !important;
}
